## **Importing necessary Libraries**

In [174]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import *
import xgboost
from imblearn.combine import SMOTETomek,SMOTEENN
from collections import Counter
import lightgbm
from sklearn.svm import SVC
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
!pip install catboost
import catboost
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import StratifiedKFold,cross_val_score

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.0.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)

## **Reading the Data**

In [175]:
df=pd.read_csv('/content/train_MpHjUjU.csv')

In [176]:
df.head(10)

       MMM-YY  Emp_ID  Age  ... Designation Total Business Value Quarterly Rating
0  2016-01-01       1   28  ...           1              2381060                2
1  2016-02-01       1   28  ...           1              -665480                2
2  2016-03-01       1   28  ...           1                    0                2
3  2017-11-01       2   31  ...           2                    0                1
4  2017-12-01       2   31  ...           2                    0                1
5  2016-12-01       4   43  ...           2                    0                1
6  2017-01-01       4   43  ...           2                    0                1
7  2017-02-01       4   43  ...           2                    0                1
8  2017-03-01       4   43  ...           2               350000                1
9  2017-04-01       4   43  ...           2                    0                1

[10 rows x 13 columns]

## **As There was no Target column hence we had to find some metrics to decide the Target,According to my knowledge i have grouped the data by sum of Total Business value for each emp_id,if the emp_id has 0 Total business value i have labeled it as 1 i'e he leaves the comapany else 0**

In [177]:
df1=df.groupby(['Emp_ID'])[['Total Business Value']].sum().reset_index()

In [178]:
s=df1[df1['Total Business Value']==0].Emp_ID.values

In [179]:
df['Target']=df['Emp_ID'].map(lambda x:1 if x in s else 0)

In [180]:
df['Target'].value_counts()  # Imbalanced Dataset

0    17004
1     2100
Name: Target, dtype: int64

In [181]:
df=df.drop(['LastWorkingDate'],axis=1) # LastWorkingDate id dropped as it had majority of null values

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19104 entries, 0 to 19103
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MMM-YY                19104 non-null  object
 1   Emp_ID                19104 non-null  int64
 2   Age                   19104 non-null  int64
 3   Gender                19104 non-null  object
 4   City                  19104 non-null  object
 5   Education_Level       19104 non-null  object
 6   Salary                19104 non-null  int64
 7   Dateofjoining         19104 non-null  object
 8   Joining Designation   19104 non-null  int64
 9   Designation           19104 non-null  int64
 10  Total Business Value  19104 non-null  int64
 11  Quarterly Rating      19104 non-null  int64
 12  Target                19104 non-null  int64
dtypes: int64(8), object(5)
memory usage: 1.9+ MB

## **As training and Testing data was present in single train.csv so we had to differentiat test records from train.csv based on given emp_id in test.csv**

In [183]:
test=pd.read_csv('/content/test_hXY9mYw.csv')

In [184]:
ss=[i for i in test['Emp_ID']]

In [185]:
df['Test']=df['Emp_ID'].apply(lambda x:1 if x in ss else 0)

In [186]:
test=df[df['Test']==1]

In [187]:
train=df[df['Test']==0]

In [188]:
train.drop('Test',axis=1,inplace=True)
test.drop('Test',axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [189]:
test

           MMM-YY  Emp_ID  Age  ... Total Business Value Quarterly Rating Target
3      2017-11-01       2   31  ...                    0                1      1
4      2017-12-01       2   31  ...                    0                1      1
13     2017-08-01       6   31  ...                    0                1      0
14     2017-09-01       6   31  ...                    0                1      0
15     2017-10-01       6   31  ...                    0                2      0
...           ...     ...  ...  ...                  ...              ...    ...
19099  2017-08-01    2788   30  ...               740280                3      0
19100  2017-09-01    2788   30  ...               448370                3      0
19101  2017-10-01    2788   30  ...                    0                2      0
19102  2017-11-01    2788   30  ...               200420                2      0
19103  2017-12-01    2788   30  ...               411480                2      0

[8588 rows x 13 columns]

In [190]:
test1=pd.read_csv('/content/test_hXY9mYw.csv')
test1.head()

   Emp_ID
0     394
1     173
2    1090
3     840
4     308

In [191]:
test1['Target']=test1['Emp_ID'].map(lambda x:test[test['Emp_ID']==x]['Target'].unique()[0])

In [192]:
train['Target'].value_counts()

0    8725
1    1791
Name: Target, dtype: int64

## **Feature Enginerring i have converted the dateof join and MMM-YY column to datetime object and then created features such as day,month,year,weekday,day_of_Week**

In [193]:
train['MMM-YY']=pd.to_datetime(train['MMM-YY'])
train['Dateofjoining']=pd.to_datetime(train['Dateofjoining'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [194]:
train['MMM-YY_day']=train['MMM-YY'].dt.day
train['MMM-YY_month']=train['MMM-YY'].dt.month 
train['MMM-YY_year']=train['MMM-YY'].dt.year
train['MMM-YY_week']=train['MMM-YY'].dt.weekday
train['MMM-YY_dayofweek']=train['MMM-YY'].dt.dayofweek
train['Dateofjoining_day']=train['Dateofjoining'].dt.day 
train['Dateofjoining_month']=train['Dateofjoining'].dt.month 
train['Dateofjoining_year']=train['Dateofjoining'].dt.year
train['Dateofjoining_week']=train['Dateofjoining'].dt.weekday
train['Dateofjoining_dayofweek']=train['Dateofjoining'].dt.dayofweek

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [195]:
train_1

       Emp_ID  Age  ...  Education_Level_College  Education_Level_Master
0           1   28  ...                        0                       1
1           1   28  ...                        0                       1
2           1   28  ...                        0                       1
5           4   43  ...                        0                       1
6           4   43  ...                        0                       1
...       ...  ...  ...                      ...                     ...
19092    2787   28  ...                        0                       1
19093    2787   28  ...                        0                       1
19094    2787   28  ...                        0                       1
19095    2787   28  ...                        0                       1
19096    2787   28  ...                        0                       1

[10516 rows x 22 columns]

## **Emp_id Was dropped before training the model**

In [196]:
train_1=train.drop(['MMM-YY','Dateofjoining','Emp_ID'],axis=1)

In [197]:
train_1

       Age  Gender  ... Dateofjoining_week Dateofjoining_dayofweek
0       28    Male  ...                  3                       3
1       28    Male  ...                  3                       3
2       28    Male  ...                  3                       3
5       43    Male  ...                  2                       2
6       43    Male  ...                  2                       2
...    ...     ...  ...                ...                     ...
19092   28  Female  ...                  1                       1
19093   28  Female  ...                  1                       1
19094   28  Female  ...                  1                       1
19095   28  Female  ...                  1                       1
19096   28  Female  ...                  1                       1

[10516 rows x 20 columns]

## **Converting Categorical columns to numerical columns using encoding techniques like one hot Encoding,also we can try label encoding for education as it is ordinal**

In [199]:
train_1['City']=train_1['City'].apply(lambda x:x.lstrip('C'))

In [200]:
train_1['City']=train_1['City'].astype(int)

In [201]:
train_1=pd.get_dummies(train_1,drop_first=True)

In [202]:
train_1['Target'].value_counts()

0    8725
1    1791
Name: Target, dtype: int64

In [229]:
train_1

       Age  City  ...  Education_Level_College  Education_Level_Master
0       28    23  ...                        0                       1
1       28    23  ...                        0                       1
2       28    23  ...                        0                       1
5       43    13  ...                        0                       1
6       43    13  ...                        0                       1
...    ...   ...  ...                      ...                     ...
19092   28    20  ...                        0                       1
19093   28    20  ...                        0                       1
19094   28    20  ...                        0                       1
19095   28    20  ...                        0                       1
19096   28    20  ...                        0                       1

[10516 rows x 21 columns]

## **Various techniques like Smote and smotetomek were tried out to balance the data unfortunately it did not give good results.**

In [346]:
sm=SMOTETomek(random_state=139)

In [350]:
x_train_sm,y_train_sm=sm.fit_resample(X_train,y_train)

In [349]:
x_train_sms,y_train_sms=sm.fit_resample(X,y)

## **Splitting the Data into Train and test**

In [203]:
X=train_1.drop('Target',axis=1)
y=train_1['Target']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

In [287]:
models={'Gradient':GradientBoostingClassifier(),'xgboost':xgboost.XGBClassifier(),'Xgbr':xgboost.XGBRFClassifier(max_depth=4),'rd':RandomForestClassifier(),'dt':DecisionTreeClassifier(),'cat':catboost.CatBoostClassifier()}

In [288]:
ds=pd.DataFrame(columns=[])
ri=0
for i in models:
  models[i].fit(X_train,y_train)
  ipred=models[i].predict(X_test)
  ipred_tr=models[i].predict(X_train)
  ds.loc[ri,'Model']=i
  ds.loc[ri,'Train_score']=f1_score(y_train,ipred_tr,average='macro')
  ds.loc[ri,'Test_score']=f1_score(y_test,ipred,average='macro')
  ri+=1

Learning rate set to 0.024161
0:	learn: 0.6488278	total: 3.35ms	remaining: 3.35s
1:	learn: 0.6080951	total: 6.56ms	remaining: 3.27s
2:	learn: 0.5712971	total: 9.65ms	remaining: 3.21s
3:	learn: 0.5407123	total: 12.9ms	remaining: 3.21s
4:	learn: 0.5131247	total: 16.2ms	remaining: 3.21s
5:	learn: 0.4879376	total: 19.6ms	remaining: 3.24s
6:	learn: 0.4653056	total: 22.8ms	remaining: 3.24s
7:	learn: 0.4436422	total: 26.5ms	remaining: 3.29s
8:	learn: 0.4247549	total: 29.8ms	remaining: 3.29s
9:	learn: 0.4071953	total: 33.2ms	remaining: 3.29s
10:	learn: 0.3924477	total: 36.5ms	remaining: 3.28s
11:	learn: 0.3794537	total: 40.5ms	remaining: 3.33s
12:	learn: 0.3680237	total: 44.1ms	remaining: 3.35s
13:	learn: 0.3593163	total: 47.3ms	remaining: 3.33s
14:	learn: 0.3509276	total: 51ms	remaining: 3.35s
15:	learn: 0.3438647	total: 54.3ms	remaining: 3.34s
16:	learn: 0.3395835	total: 57.8ms	remaining: 3.34s
17:	learn: 0.3318950	total: 61.2ms	remaining: 3.34s
18:	learn: 0.3289817	total: 64.6ms	remaining: 3.34s
19:	learn: 0.3216916	total: 68.1ms	remaining: 3.34s
20:	learn: 0.3184786	total: 71.6ms	remaining: 3.34s
21:	learn: 0.3136437	total: 75.1ms	remaining: 3.34s
22:	learn: 0.3081722	total: 78.6ms	remaining: 3.34s
23:	learn: 0.3039339	total: 82ms	remaining: 3.33s
24:	learn: 0.3024184	total: 85.2ms	remaining: 3.32s
25:	learn: 0.3006783	total: 88.5ms	remaining: 3.32s
26:	learn: 0.2961031	total: 93.9ms	remaining: 3.38s
27:	learn: 0.2925458	total: 99.4ms	remaining: 3.45s
28:	learn: 0.2890059	total: 103ms	remaining: 3.44s
29:	learn: 0.2855938	total: 106ms	remaining: 3.44s
30:	learn: 0.2828645	total: 110ms	remaining: 3.43s
31:	learn: 0.2793740	total: 113ms	remaining: 3.42s
32:	learn: 0.2759882	total: 117ms	remaining: 3.42s
33:	learn: 0.2734619	total: 120ms	remaining: 3.41s
34:	learn: 0.2709858	total: 124ms	remaining: 3.4s
35:	learn: 0.2701071	total: 127ms	remaining: 3.39s
36:	learn: 0.2685887	total: 130ms	remaining: 3.39s
37:	learn: 0.2660070	total: 134ms	remaining: 3.38s
38:	learn: 0.2643771	total: 137ms	remaining: 3.38s
39:	learn: 0.2621329	total: 141ms	remaining: 3.38s
40:	learn: 0.2607500	total: 144ms	remaining: 3.37s
41:	learn: 0.2589770	total: 147ms	remaining: 3.36s
42:	learn: 0.2570119	total: 151ms	remaining: 3.35s
43:	learn: 0.2553888	total: 154ms	remaining: 3.35s
44:	learn: 0.2539056	total: 157ms	remaining: 3.34s
45:	learn: 0.2529094	total: 161ms	remaining: 3.33s
46:	learn: 0.2513343	total: 164ms	remaining: 3.32s
47:	learn: 0.2499564	total: 167ms	remaining: 3.31s
48:	learn: 0.2492773	total: 170ms	remaining: 3.31s
49:	learn: 0.2477298	total: 174ms	remaining: 3.3s
50:	learn: 0.2469326	total: 177ms	remaining: 3.29s
51:	learn: 0.2466380	total: 180ms	remaining: 3.29s
52:	learn: 0.2452453	total: 184ms	remaining: 3.28s
53:	learn: 0.2439314	total: 187ms	remaining: 3.27s
54:	learn: 0.2430112	total: 193ms	remaining: 3.31s
55:	learn: 0.2420585	total: 199ms	remaining: 3.36s
56:	learn: 0.2409707	total: 203ms	remaining: 3.36s
57:	learn: 0.2404878	total: 206ms	remaining: 3.35s
58:	learn: 0.2395132	total: 210ms	remaining: 3.34s
59:	learn: 0.2385099	total: 213ms	remaining: 3.33s
60:	learn: 0.2377940	total: 216ms	remaining: 3.33s
61:	learn: 0.2369430	total: 220ms	remaining: 3.32s
62:	learn: 0.2360531	total: 223ms	remaining: 3.32s
63:	learn: 0.2349804	total: 228ms	remaining: 3.33s
64:	learn: 0.2338336	total: 231ms	remaining: 3.33s
65:	learn: 0.2329411	total: 235ms	remaining: 3.33s
66:	learn: 0.2321610	total: 239ms	remaining: 3.32s
67:	learn: 0.2313376	total: 242ms	remaining: 3.31s
68:	learn: 0.2305546	total: 245ms	remaining: 3.31s
69:	learn: 0.2301818	total: 248ms	remaining: 3.3s
70:	learn: 0.2294701	total: 252ms	remaining: 3.29s
71:	learn: 0.2289566	total: 255ms	remaining: 3.28s
72:	learn: 0.2282549	total: 258ms	remaining: 3.28s
73:	learn: 0.2277630	total: 261ms	remaining: 3.27s
74:	learn: 0.2268707	total: 265ms	remaining: 3.27s
75:	learn: 0.2262684	total: 268ms	remaining: 3.26s
76:	learn: 0.2258272	total: 272ms	remaining: 3.25s
77:	learn: 0.2254155	total: 275ms	remaining: 3.25s
78:	learn: 0.2247245	total: 278ms	remaining: 3.24s
79:	learn: 0.2241442	total: 282ms	remaining: 3.24s
80:	learn: 0.2233904	total: 285ms	remaining: 3.23s
81:	learn: 0.2229112	total: 290ms	remaining: 3.25s
82:	learn: 0.2222751	total: 293ms	remaining: 3.24s
83:	learn: 0.2216947	total: 297ms	remaining: 3.23s
84:	learn: 0.2211588	total: 300ms	remaining: 3.23s
85:	learn: 0.2207411	total: 303ms	remaining: 3.22s
86:	learn: 0.2197354	total: 307ms	remaining: 3.22s
87:	learn: 0.2191938	total: 310ms	remaining: 3.21s
88:	learn: 0.2187006	total: 315ms	remaining: 3.22s
89:	learn: 0.2180579	total: 319ms	remaining: 3.23s
90:	learn: 0.2175812	total: 324ms	remaining: 3.23s
91:	learn: 0.2168741	total: 328ms	remaining: 3.24s
92:	learn: 0.2163427	total: 336ms	remaining: 3.28s
93:	learn: 0.2158817	total: 339ms	remaining: 3.27s
94:	learn: 0.2153748	total: 342ms	remaining: 3.26s
95:	learn: 0.2148705	total: 346ms	remaining: 3.25s
96:	learn: 0.2143225	total: 349ms	remaining: 3.25s
97:	learn: 0.2138381	total: 352ms	remaining: 3.24s
98:	learn: 0.2135082	total: 355ms	remaining: 3.23s
99:	learn: 0.2132196	total: 358ms	remaining: 3.23s
100:	learn: 0.2128080	total: 361ms	remaining: 3.22s
101:	learn: 0.2124558	total: 365ms	remaining: 3.21s
102:	learn: 0.2117262	total: 368ms	remaining: 3.21s
103:	learn: 0.2111756	total: 372ms	remaining: 3.21s
104:	learn: 0.2106947	total: 376ms	remaining: 3.2s
105:	learn: 0.2102117	total: 379ms	remaining: 3.2s
106:	learn: 0.2099434	total: 383ms	remaining: 3.19s
107:	learn: 0.2095517	total: 388ms	remaining: 3.21s
108:	learn: 0.2089385	total: 393ms	remaining: 3.21s
109:	learn: 0.2082899	total: 396ms	remaining: 3.2s
110:	learn: 0.2075990	total: 400ms	remaining: 3.2s
111:	learn: 0.2073329	total: 403ms	remaining: 3.19s
112:	learn: 0.2068803	total: 406ms	remaining: 3.19s
113:	learn: 0.2062888	total: 409ms	remaining: 3.18s
114:	learn: 0.2059520	total: 413ms	remaining: 3.18s
115:	learn: 0.2055937	total: 416ms	remaining: 3.17s
116:	learn: 0.2049936	total: 420ms	remaining: 3.17s
117:	learn: 0.2045256	total: 423ms	remaining: 3.16s
118:	learn: 0.2041145	total: 427ms	remaining: 3.16s
119:	learn: 0.2036645	total: 430ms	remaining: 3.15s
120:	learn: 0.2028293	total: 433ms	remaining: 3.15s
121:	learn: 0.2025499	total: 437ms	remaining: 3.14s
122:	learn: 0.2021705	total: 440ms	remaining: 3.14s
123:	learn: 0.2018135	total: 443ms	remaining: 3.13s
124:	learn: 0.2015186	total: 447ms	remaining: 3.13s
125:	learn: 0.2011536	total: 450ms	remaining: 3.12s
126:	learn: 0.2007087	total: 453ms	remaining: 3.12s
127:	learn: 0.2002090	total: 457ms	remaining: 3.11s
128:	learn: 0.1996564	total: 461ms	remaining: 3.11s
129:	learn: 0.1992457	total: 464ms	remaining: 3.1s
130:	learn: 0.1989265	total: 467ms	remaining: 3.1s
131:	learn: 0.1986465	total: 471ms	remaining: 3.09s
132:	learn: 0.1982406	total: 474ms	remaining: 3.09s
133:	learn: 0.1979229	total: 478ms	remaining: 3.09s
134:	learn: 0.1975912	total: 481ms	remaining: 3.08s
135:	learn: 0.1972620	total: 484ms	remaining: 3.08s
136:	learn: 0.1969058	total: 488ms	remaining: 3.07s
137:	learn: 0.1966606	total: 491ms	remaining: 3.07s
138:	learn: 0.1963159	total: 495ms	remaining: 3.06s
139:	learn: 0.1959688	total: 498ms	remaining: 3.06s
140:	learn: 0.1955865	total: 501ms	remaining: 3.05s
141:	learn: 0.1953335	total: 505ms	remaining: 3.05s
142:	learn: 0.1949453	total: 508ms	remaining: 3.04s
143:	learn: 0.1945064	total: 512ms	remaining: 3.04s
144:	learn: 0.1941564	total: 515ms	remaining: 3.04s
145:	learn: 0.1938775	total: 518ms	remaining: 3.03s
146:	learn: 0.1936143	total: 522ms	remaining: 3.03s
147:	learn: 0.1933992	total: 525ms	remaining: 3.02s
148:	learn: 0.1930282	total: 528ms	remaining: 3.02s
149:	learn: 0.1925591	total: 532ms	remaining: 3.01s
150:	learn: 0.1922425	total: 535ms	remaining: 3.01s
151:	learn: 0.1917734	total: 538ms	remaining: 3s
152:	learn: 0.1914008	total: 542ms	remaining: 3s
153:	learn: 0.1911120	total: 545ms	remaining: 2.99s
154:	learn: 0.1907809	total: 548ms	remaining: 2.99s
155:	learn: 0.1901149	total: 552ms	remaining: 2.98s
156:	learn: 0.1898845	total: 555ms	remaining: 2.98s
157:	learn: 0.1895597	total: 559ms	remaining: 2.98s
158:	learn: 0.1890635	total: 562ms	remaining: 2.98s
159:	learn: 0.1887250	total: 566ms	remaining: 2.97s
160:	learn: 0.1884448	total: 569ms	remaining: 2.96s
161:	learn: 0.1880862	total: 572ms	remaining: 2.96s
162:	learn: 0.1877056	total: 576ms	remaining: 2.96s
163:	learn: 0.1875187	total: 579ms	remaining: 2.95s
164:	learn: 0.1871142	total: 585ms	remaining: 2.96s
165:	learn: 0.1868712	total: 591ms	remaining: 2.97s
166:	learn: 0.1866886	total: 594ms	remaining: 2.96s
167:	learn: 0.1864255	total: 597ms	remaining: 2.96s
168:	learn: 0.1861153	total: 600ms	remaining: 2.95s
169:	learn: 0.1857756	total: 603ms	remaining: 2.94s
170:	learn: 0.1855331	total: 606ms	remaining: 2.94s
171:	learn: 0.1851930	total: 610ms	remaining: 2.93s
172:	learn: 0.1846809	total: 613ms	remaining: 2.93s
173:	learn: 0.1844209	total: 616ms	remaining: 2.92s
174:	learn: 0.1841015	total: 619ms	remaining: 2.92s
175:	learn: 0.1838333	total: 623ms	remaining: 2.91s
176:	learn: 0.1835627	total: 626ms	remaining: 2.91s
177:	learn: 0.1831525	total: 629ms	remaining: 2.91s
178:	learn: 0.1829141	total: 633ms	remaining: 2.9s
179:	learn: 0.1825835	total: 636ms	remaining: 2.9s
180:	learn: 0.1823364	total: 639ms	remaining: 2.89s
181:	learn: 0.1820321	total: 643ms	remaining: 2.89s
182:	learn: 0.1817367	total: 646ms	remaining: 2.88s
183:	learn: 0.1812845	total: 649ms	remaining: 2.88s
184:	learn: 0.1807842	total: 653ms	remaining: 2.88s
185:	learn: 0.1805005	total: 656ms	remaining: 2.87s
186:	learn: 0.1802142	total: 659ms	remaining: 2.87s
187:	learn: 0.1799949	total: 663ms	remaining: 2.86s
188:	learn: 0.1798492	total: 666ms	remaining: 2.86s
189:	learn: 0.1792957	total: 669ms	remaining: 2.85s
190:	learn: 0.1791436	total: 672ms	remaining: 2.85s
191:	learn: 0.1789057	total: 676ms	remaining: 2.84s
192:	learn: 0.1785624	total: 679ms	remaining: 2.84s
193:	learn: 0.1782393	total: 682ms	remaining: 2.83s
194:	learn: 0.1780192	total: 686ms	remaining: 2.83s
195:	learn: 0.1776259	total: 689ms	remaining: 2.83s
196:	learn: 0.1773541	total: 692ms	remaining: 2.82s
197:	learn: 0.1771356	total: 699ms	remaining: 2.83s
198:	learn: 0.1767225	total: 703ms	remaining: 2.83s
199:	learn: 0.1765604	total: 708ms	remaining: 2.83s
200:	learn: 0.1762108	total: 712ms	remaining: 2.83s
201:	learn: 0.1759363	total: 715ms	remaining: 2.82s
202:	learn: 0.1756880	total: 718ms	remaining: 2.82s
203:	learn: 0.1755028	total: 722ms	remaining: 2.81s
204:	learn: 0.1753012	total: 725ms	remaining: 2.81s
205:	learn: 0.1750891	total: 728ms	remaining: 2.81s
206:	learn: 0.1747944	total: 732ms	remaining: 2.8s
207:	learn: 0.1744886	total: 737ms	remaining: 2.81s
208:	learn: 0.1743147	total: 741ms	remaining: 2.8s
209:	learn: 0.1741313	total: 744ms	remaining: 2.8s
210:	learn: 0.1738402	total: 748ms	remaining: 2.8s
211:	learn: 0.1735393	total: 751ms	remaining: 2.79s
212:	learn: 0.1733163	total: 755ms	remaining: 2.79s
213:	learn: 0.1728620	total: 758ms	remaining: 2.78s
214:	learn: 0.1726330	total: 761ms	remaining: 2.78s
215:	learn: 0.1723326	total: 765ms	remaining: 2.77s
216:	learn: 0.1721296	total: 768ms	remaining: 2.77s
217:	learn: 0.1717462	total: 771ms	remaining: 2.77s
218:	learn: 0.1714979	total: 775ms	remaining: 2.76s
219:	learn: 0.1712244	total: 779ms	remaining: 2.76s
220:	learn: 0.1709466	total: 784ms	remaining: 2.76s
221:	learn: 0.1707108	total: 788ms	remaining: 2.76s
222:	learn: 0.1705306	total: 791ms	remaining: 2.76s
223:	learn: 0.1702423	total: 795ms	remaining: 2.75s
224:	learn: 0.1697944	total: 798ms	remaining: 2.75s
225:	learn: 0.1694558	total: 802ms	remaining: 2.75s
226:	learn: 0.1693097	total: 808ms	remaining: 2.75s
227:	learn: 0.1691495	total: 812ms	remaining: 2.75s
228:	learn: 0.1689911	total: 815ms	remaining: 2.74s
229:	learn: 0.1686372	total: 818ms	remaining: 2.74s
230:	learn: 0.1684055	total: 822ms	remaining: 2.73s
231:	learn: 0.1681546	total: 825ms	remaining: 2.73s
232:	learn: 0.1679257	total: 828ms	remaining: 2.73s
233:	learn: 0.1677554	total: 832ms	remaining: 2.72s
234:	learn: 0.1676380	total: 835ms	remaining: 2.72s
235:	learn: 0.1674078	total: 839ms	remaining: 2.71s
236:	learn: 0.1672212	total: 842ms	remaining: 2.71s
237:	learn: 0.1668983	total: 845ms	remaining: 2.71s
238:	learn: 0.1667347	total: 849ms	remaining: 2.7s
239:	learn: 0.1664138	total: 852ms	remaining: 2.7s
240:	learn: 0.1661794	total: 856ms	remaining: 2.7s
241:	learn: 0.1658927	total: 864ms	remaining: 2.71s
242:	learn: 0.1655237	total: 869ms	remaining: 2.71s
243:	learn: 0.1653273	total: 872ms	remaining: 2.7s
244:	learn: 0.1652243	total: 875ms	remaining: 2.69s
245:	learn: 0.1650411	total: 878ms	remaining: 2.69s
246:	learn: 0.1648031	total: 881ms	remaining: 2.69s
247:	learn: 0.1645233	total: 885ms	remaining: 2.68s
248:	learn: 0.1642109	total: 889ms	remaining: 2.68s
249:	learn: 0.1638334	total: 892ms	remaining: 2.68s
250:	learn: 0.1633783	total: 896ms	remaining: 2.67s
251:	learn: 0.1631652	total: 899ms	remaining: 2.67s
252:	learn: 0.1628529	total: 903ms	remaining: 2.66s
253:	learn: 0.1626790	total: 906ms	remaining: 2.66s
254:	learn: 0.1624523	total: 909ms	remaining: 2.66s
255:	learn: 0.1621507	total: 913ms	remaining: 2.65s
256:	learn: 0.1620105	total: 916ms	remaining: 2.65s
257:	learn: 0.1618537	total: 920ms	remaining: 2.64s
258:	learn: 0.1617226	total: 923ms	remaining: 2.64s
259:	learn: 0.1615735	total: 926ms	remaining: 2.64s
260:	learn: 0.1613399	total: 930ms	remaining: 2.63s
261:	learn: 0.1612177	total: 933ms	remaining: 2.63s
262:	learn: 0.1610476	total: 937ms	remaining: 2.63s
263:	learn: 0.1608975	total: 940ms	remaining: 2.62s
264:	learn: 0.1605638	total: 944ms	remaining: 2.62s
265:	learn: 0.1602334	total: 947ms	remaining: 2.61s
266:	learn: 0.1599589	total: 951ms	remaining: 2.61s
267:	learn: 0.1597314	total: 954ms	remaining: 2.61s
268:	learn: 0.1595239	total: 958ms	remaining: 2.6s
269:	learn: 0.1593177	total: 961ms	remaining: 2.6s
270:	learn: 0.1590947	total: 964ms	remaining: 2.59s
271:	learn: 0.1586828	total: 967ms	remaining: 2.59s
272:	learn: 0.1583875	total: 971ms	remaining: 2.58s
273:	learn: 0.1580372	total: 976ms	remaining: 2.59s
274:	learn: 0.1578510	total: 982ms	remaining: 2.59s
275:	learn: 0.1577214	total: 985ms	remaining: 2.58s
276:	learn: 0.1574861	total: 988ms	remaining: 2.58s
277:	learn: 0.1573654	total: 992ms	remaining: 2.58s
278:	learn: 0.1571757	total: 995ms	remaining: 2.57s
279:	learn: 0.1570222	total: 999ms	remaining: 2.57s
280:	learn: 0.1568460	total: 1s	remaining: 2.56s
281:	learn: 0.1566674	total: 1s	remaining: 2.56s
282:	learn: 0.1564099	total: 1.01s	remaining: 2.56s
283:	learn: 0.1561032	total: 1.01s	remaining: 2.55s
284:	learn: 0.1559513	total: 1.01s	remaining: 2.55s
285:	learn: 0.1557579	total: 1.02s	remaining: 2.54s
286:	learn: 0.1554598	total: 1.02s	remaining: 2.54s
287:	learn: 0.1552348	total: 1.02s	remaining: 2.54s
288:	learn: 0.1551293	total: 1.03s	remaining: 2.53s
289:	learn: 0.1548315	total: 1.03s	remaining: 2.53s
290:	learn: 0.1546617	total: 1.03s	remaining: 2.52s
291:	learn: 0.1545176	total: 1.04s	remaining: 2.52s
292:	learn: 0.1542458	total: 1.04s	remaining: 2.51s
293:	learn: 0.1540391	total: 1.04s	remaining: 2.51s
294:	learn: 0.1539155	total: 1.05s	remaining: 2.5s
295:	learn: 0.1538303	total: 1.05s	remaining: 2.5s
296:	learn: 0.1536945	total: 1.05s	remaining: 2.5s
297:	learn: 0.1533977	total: 1.06s	remaining: 2.49s
298:	learn: 0.1531474	total: 1.06s	remaining: 2.49s
299:	learn: 0.1528717	total: 1.06s	remaining: 2.48s
300:	learn: 0.1527281	total: 1.07s	remaining: 2.48s
301:	learn: 0.1525666	total: 1.07s	remaining: 2.48s
302:	learn: 0.1524367	total: 1.07s	remaining: 2.47s
303:	learn: 0.1522161	total: 1.08s	remaining: 2.47s
304:	learn: 0.1519724	total: 1.08s	remaining: 2.46s
305:	learn: 0.1517389	total: 1.08s	remaining: 2.46s
306:	learn: 0.1516280	total: 1.09s	remaining: 2.46s
307:	learn: 0.1515085	total: 1.09s	remaining: 2.45s
308:	learn: 0.1514184	total: 1.09s	remaining: 2.45s
309:	learn: 0.1512305	total: 1.1s	remaining: 2.44s
310:	learn: 0.1509645	total: 1.1s	remaining: 2.44s
311:	learn: 0.1506021	total: 1.1s	remaining: 2.44s
312:	learn: 0.1504680	total: 1.11s	remaining: 2.43s
313:	learn: 0.1502146	total: 1.11s	remaining: 2.43s
314:	learn: 0.1500215	total: 1.11s	remaining: 2.42s
315:	learn: 0.1498018	total: 1.12s	remaining: 2.42s
316:	learn: 0.1497165	total: 1.12s	remaining: 2.42s
317:	learn: 0.1494703	total: 1.12s	remaining: 2.41s
318:	learn: 0.1491875	total: 1.13s	remaining: 2.41s
319:	learn: 0.1489622	total: 1.13s	remaining: 2.4s
320:	learn: 0.1488304	total: 1.13s	remaining: 2.4s
321:	learn: 0.1486218	total: 1.14s	remaining: 2.4s
322:	learn: 0.1483662	total: 1.14s	remaining: 2.39s
323:	learn: 0.1482100	total: 1.14s	remaining: 2.39s
324:	learn: 0.1480624	total: 1.15s	remaining: 2.38s
325:	learn: 0.1479056	total: 1.15s	remaining: 2.38s
326:	learn: 0.1476048	total: 1.16s	remaining: 2.38s
327:	learn: 0.1474406	total: 1.16s	remaining: 2.37s
328:	learn: 0.1472178	total: 1.16s	remaining: 2.37s
329:	learn: 0.1470276	total: 1.17s	remaining: 2.37s
330:	learn: 0.1467711	total: 1.17s	remaining: 2.36s
331:	learn: 0.1465127	total: 1.17s	remaining: 2.36s
332:	learn: 0.1462583	total: 1.18s	remaining: 2.36s
333:	learn: 0.1460019	total: 1.18s	remaining: 2.36s
334:	learn: 0.1457968	total: 1.19s	remaining: 2.35s
335:	learn: 0.1456892	total: 1.19s	remaining: 2.35s
336:	learn: 0.1456147	total: 1.19s	remaining: 2.35s
337:	learn: 0.1455121	total: 1.2s	remaining: 2.34s
338:	learn: 0.1453267	total: 1.2s	remaining: 2.34s
339:	learn: 0.1451423	total: 1.2s	remaining: 2.33s
340:	learn: 0.1448916	total: 1.21s	remaining: 2.33s
341:	learn: 0.1447502	total: 1.21s	remaining: 2.33s
342:	learn: 0.1446655	total: 1.22s	remaining: 2.33s
343:	learn: 0.1444534	total: 1.22s	remaining: 2.33s
344:	learn: 0.1442320	total: 1.22s	remaining: 2.32s
345:	learn: 0.1440617	total: 1.23s	remaining: 2.32s
346:	learn: 0.1438712	total: 1.23s	remaining: 2.32s
347:	learn: 0.1436866	total: 1.23s	remaining: 2.31s
348:	learn: 0.1435502	total: 1.24s	remaining: 2.31s
349:	learn: 0.1433420	total: 1.24s	remaining: 2.3s
350:	learn: 0.1430901	total: 1.24s	remaining: 2.3s
351:	learn: 0.1428290	total: 1.25s	remaining: 2.3s
352:	learn: 0.1426306	total: 1.25s	remaining: 2.29s
353:	learn: 0.1424764	total: 1.25s	remaining: 2.29s
354:	learn: 0.1423471	total: 1.26s	remaining: 2.29s
355:	learn: 0.1421927	total: 1.26s	remaining: 2.28s
356:	learn: 0.1420503	total: 1.26s	remaining: 2.28s
357:	learn: 0.1418561	total: 1.27s	remaining: 2.27s
358:	learn: 0.1416896	total: 1.27s	remaining: 2.27s
359:	learn: 0.1415234	total: 1.27s	remaining: 2.27s
360:	learn: 0.1413839	total: 1.28s	remaining: 2.26s
361:	learn: 0.1411128	total: 1.28s	remaining: 2.26s
362:	learn: 0.1409653	total: 1.29s	remaining: 2.26s
363:	learn: 0.1407431	total: 1.29s	remaining: 2.25s
364:	learn: 0.1405373	total: 1.29s	remaining: 2.25s
365:	learn: 0.1404207	total: 1.3s	remaining: 2.25s
366:	learn: 0.1401137	total: 1.3s	remaining: 2.24s
367:	learn: 0.1399217	total: 1.3s	remaining: 2.24s
368:	learn: 0.1398263	total: 1.31s	remaining: 2.23s
369:	learn: 0.1396431	total: 1.31s	remaining: 2.23s
370:	learn: 0.1394724	total: 1.31s	remaining: 2.23s
371:	learn: 0.1392505	total: 1.32s	remaining: 2.22s
372:	learn: 0.1390758	total: 1.32s	remaining: 2.22s
373:	learn: 0.1388418	total: 1.32s	remaining: 2.22s
374:	learn: 0.1384724	total: 1.33s	remaining: 2.21s
375:	learn: 0.1383584	total: 1.33s	remaining: 2.21s
376:	learn: 0.1381804	total: 1.33s	remaining: 2.21s
377:	learn: 0.1380850	total: 1.34s	remaining: 2.2s
378:	learn: 0.1379732	total: 1.34s	remaining: 2.2s
379:	learn: 0.1378444	total: 1.34s	remaining: 2.19s
380:	learn: 0.1376052	total: 1.35s	remaining: 2.19s
381:	learn: 0.1374441	total: 1.35s	remaining: 2.19s
382:	learn: 0.1373274	total: 1.36s	remaining: 2.19s
383:	learn: 0.1370794	total: 1.36s	remaining: 2.18s
384:	learn: 0.1369294	total: 1.36s	remaining: 2.18s
385:	learn: 0.1366488	total: 1.37s	remaining: 2.18s

## **Among ALL the models most generalized model with no overfitting was found to be xgbrf(Xgboost+Random_forest) so we have selected xgbr as final model for hyperparameter optimization**

In [289]:
ds

      Model  Train_score  Test_score
0  Gradient     0.867673    0.813774
1   xgboost     0.858120    0.809236
2      Xgbr     0.742689    0.739334
3        rd     1.000000    0.927285
4        dt     1.000000    0.891794
5       cat     0.989677    0.910382

## **Hyperparmeter Tuning and Cross Validataion**

In [318]:
params={
 "learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ],
 "scale_pos_weight" : [6,7,8,9,10],
 "n_estimators"      : [i for i in range(0,1000,100)]
    
}

In [333]:
st=StratifiedKFold(n_splits=5)
model=xgboost.XGBRFClassifier()
scores=cross_val_score(model,X,y,cv=st)
print(np.mean(scores))

0.8516545257634848

In [321]:
xgbr=xgboost.XGBRFClassifier()

In [403]:
random_search=RandomizedSearchCV(xgbr,param_distributions=params,n_iter=5,scoring='f1_macro',n_jobs=-1,cv=3,verbose=3)

In [404]:
random_search.fit(x_train_sms,y_train_sms)

Fitting 3 folds for each of 5 candidates, totalling 15 fits

RandomizedSearchCV(cv=3, estimator=XGBRFClassifier(max_depth=5), n_iter=5,
                   n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.5,
                                                             0.7],
                                        'gamma': [0.0, 0.1, 0.2, 0.3, 0.4],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2,
                                                          0.25, 0.3],
                                        'max_depth': [3, 4, 5, 6, 8, 10, 12,
                                                      15],
                                        'min_child_weight': [1, 3, 5, 7],
                                        'n_estimators': [0, 100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900],
                                        'scale_pos_weight': [6, 7, 8, 9, 10]},
                   scoring='f1_macro', verbose=3)

In [405]:
random_search.best_params_

{'colsample_bytree': 0.7,
 'gamma': 0.4,
 'learning_rate': 0.15,
 'max_depth': 3,
 'min_child_weight': 7,
 'n_estimators': 700,
 'scale_pos_weight': 10}

In [407]:
xgbr_hyper=xgboost.XGBRFClassifier(n_estimators=700,colsample_bytree=0.7,gamma=0.4,learning_rate=0.15,max_dept=3,min_child_weight=7,scale_pos_weight=10)

In [408]:
xgbr_hyper.fit(x_train_sm,y_train_sm)
xgbr_hyperpred=xgbr_hyper.predict(X_test)
print(f"{'Train'}:{f1_score(y_train,xgbr_hyper.predict(X_train),average='macro')}")
print(f"{'Test'}:{f1_score(y_test,xgbr_hyperpred,average='macro')}")

Train:0.7016969758370902
Test:0.6933399860034732

In [410]:
xgbr_hyper.fit(x_train_sms,y_train_sms)

XGBRFClassifier(colsample_bytree=0.7, gamma=0.4, learning_rate=0.15, max_dept=3,
                min_child_weight=7, n_estimators=700, scale_pos_weight=10)

## **Tried out without hyperpameter tuning by selecting max_depth as 5 as it was giving good results in terms of training and testing data**

In [419]:
xgbr=xgboost.XGBRFClassifier(max_depth=5)
xgbr.fit(X_train,y_train)
xgbr_pred=xgbr.predict(X_test)
print(f1_score(y_train,xgbr.predict(X_train),average='macro'))
print(f1_score(y_test,xgbr_pred,average='macro'))

0.7703970478146533
0.7563021291045635

In [420]:
xgbr.fit(X,y)

XGBRFClassifier(max_depth=5)

## **Repeating all the preprocessing Steps for Test data**

In [211]:
test['MMM-YY']=pd.to_datetime(test['MMM-YY'])
test['Dateofjoining']=pd.to_datetime(test['Dateofjoining'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [212]:
test['MMM-YY_day']=test['MMM-YY'].dt.day
test['MMM-YY_month']=test['MMM-YY'].dt.month 
test['MMM-YY_year']=test['MMM-YY'].dt.year
test['MMM-YY_week']=test['MMM-YY'].dt.weekday
test['MMM-YY_dayofweek']=test['MMM-YY'].dt.dayofweek
test['Dateofjoining_day']=test['Dateofjoining'].dt.day 
test['Dateofjoining_month']=test['Dateofjoining'].dt.month 
test['Dateofjoining_year']=test['Dateofjoining'].dt.year
test['Dateofjoining_week']=test['Dateofjoining'].dt.weekday
test['Dateofjoining_dayofweek']=test['Dateofjoining'].dt.dayofweek

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [244]:
test

          MMM-YY  Emp_ID  ...  Dateofjoining_week Dateofjoining_dayofweek
3     2017-11-01       2  ...                   0                       0
4     2017-12-01       2  ...                   0                       0
13    2017-08-01       6  ...                   0                       0
14    2017-09-01       6  ...                   0                       0
15    2017-10-01       6  ...                   0                       0
...          ...     ...  ...                 ...                     ...
19099 2017-08-01    2788  ...                   3                       3
19100 2017-09-01    2788  ...                   3                       3
19101 2017-10-01    2788  ...                   3                       3
19102 2017-11-01    2788  ...                   3                       3
19103 2017-12-01    2788  ...                   3                       3

[8588 rows x 23 columns]

In [247]:
test_1=test.drop(['MMM-YY','Dateofjoining','Emp_ID'],axis=1)

In [248]:
test_1['City']=test_1['City'].apply(lambda x:x.lstrip('C'))

In [249]:
test_1['City']=test_1['City'].astype(int)

In [250]:
test_1=pd.get_dummies(test_1,drop_first=True)

In [252]:
test_1.drop(['Target'],axis=1,inplace=True)

In [253]:
test_1

       Age  City  ...  Education_Level_College  Education_Level_Master
3       31     7  ...                        0                       1
4       31     7  ...                        0                       1
13      31    11  ...                        0                       0
14      31    11  ...                        0                       0
15      31    11  ...                        0                       0
...    ...   ...  ...                      ...                     ...
19099   30    27  ...                        0                       1
19100   30    27  ...                        0                       1
19101   30    27  ...                        0                       1
19102   30    27  ...                        0                       1
19103   30    27  ...                        0                       1

[8588 rows x 20 columns]

# **prediction for test emp_id and storing results in csv in required format as given in submission.csv**

In [254]:
t=pd.read_csv('/content/test_hXY9mYw.csv')

In [258]:
result=pd.DataFrame(test['Emp_ID'])

In [421]:
result['Target']=xgbr_hyper.predict(test_1)

In [422]:
t['Target']=t['Emp_ID'].map(lambda x:result[result['Emp_ID']==x]['Target'].unique()[0])

In [423]:
t.to_csv('final.csv')

# **Future Scope: We can build Pipeline and can develop a web application using streamlit and can be deployed on aws EC2**